*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: .625rem;
    overflow-x: hidden;
}
.landingPage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroPageContainer{
    width: 100vw;
    /* height: 50vh; */
    display: flex;
    overflow: hidden;
    height: 62vh;
    flex-wrap: nowrap;
}
.heroPageContainer img{
    display: inline-block;
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}
.heroPageContainer-Cover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 62vh;
    z-index: 1;
    background-color: #000;
    opacity: .6;
}
.info{
    position: absolute;
    /* top: 10rem; */
    /* left: 15rem; */
    /* right: 15rem; */
    z-index: 2;
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}
.info .main-info{
    font-weight: 500;
    font-size: 2rem;
    line-height: normal;
    color: white;
}
.info .sub-info{
    color: white;
    font-size: 1.2rem;
    font-weight: inherit;
}
.info p{
    padding: 0 0 20px 0;
}
.startbtn{
    width: 10rem;
    height: 2.5rem;
    background: #574C77;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
    font-size: 1.1rem;
    transition:all 0.3s ;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.startbtn::before{
    content: '';
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition:all 0.3s ;
    z-index: -1;
    background-color: #443b61;
}
.startbtn:hover{
    &::before{
        width: 100%;
    }
}

@media only screen and (max-width:700px) {
    .heropic-3{
        visibility: hidden;
    }
    .main-info .main-info-part{
        padding: 0;
        margin: 0;
    }
    .heroPageContainer .heropic-1{
        width: 50%;
    }
    .heroPageContainer .heropic-2{
        width: 50%;
    }
    
    .heroPageContainer{
        width: 100%;

    }
}
@media only screen and (max-width:447px) {
    .heropic-3{
        visibility: hidden;
    }
    .heroPageContainer {
        width: 100%;
    }
    .heroPageContainer img:first-child{
        width: 100%;
    }
    .heropic-2{
        visibility: hidden;
    }
    .nav-info.active {
        right: -5.4rem;
        width: -50%;
    }
    
    
}